{% extends "base.html" %}
{% block content %}
    <div class="m-3 newsletter-content title text-center">
      <!--different options depending on user's sign up-to-newsletter status-->
      <h1 class="newsletter-phrase">{% if object.pk %}Edit Subscription{% else %}Subscribe to Newsletter{% endif %}</h1>
    </div>
    <div class="m-5 email-list text-center">
      <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
        <!--different options depending on user's sign up-to-newsletter status-->
        <button class="btn btn-primary" type="submit">{% if object.pk %}Update{% else %}Subscribe{% endif %}</button>
      </form>
    </div>
{% endblock %}
