{% extends "base.html" %}
{% block content %}
    <div class="m-3 newsletter-content title">
      <h1 class="newsletter-phrase">Newsletter Subscriptions</h1>
    </div>
    <div class="m-5 email-list">
      <a href="{% url 'newsletter_subscribe' %}" class="btn btn-primary">
        Subscribe to Newsletter with another email
      </a>
      <ul>
        <p class="orange m-2">Emails you have subscribed:</p>
        {% for subscription in subscriptions %}
          <li>
            {{ subscription.email }}
            <a href="{% url 'newsletter_update' subscription.pk %}" class="btn btn-primary">
              Edit
            </a>
            <a href="{% url 'newsletter_delete' subscription.pk %}" class="btn btn-danger">
              Unsubscribe
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    
{% endblock %}
