{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5">
    <div class="row newsletter-content justify-content-center m-3">
        <div class="col-md-4 mt-5">
            <img src="{{ SubscriptionInfo.profile_image.url }}" alt="{{ SubscriptionInfo.title }}" class="img-fluid">
        </div>
        <div class="col-md-8 mt-5 mb-5">
            <h2>{{ SubscriptionInfo.title }}</h2>
            <div>{{ SubscriptionInfo.content | safe }}</div>
            <p class="text-end"><em>Updated on: {{ SubscriptionInfo.updated_on }}</em></p>
            <!--different options depending on user's sign up-to-newsletter status-->
            {% if user_subscribed %}
                <form method="POST" action="{% url 'unsubscribe_from_newsletter' email=user.email %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Unsubscribe</button>
                </form>
            {% else %}
                <form method="POST" action="{% url 'subscribe_to_newsletter' %}">
                    {{ subscription_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
