/* General body styling */
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    display: flex;
    flex-direction: column;
}

/* Navbar */
.logo {
    height: 7.5rem;
    padding: 5px 20px;
    margin-right: 1rem;
}

.nav-link {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: oblique;
    font-size: 1.6rem;
}

.nav-item {
    margin-right: 3px;
}

.text-muted {
    padding: 2px 7px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1.4rem;
    background-color: white;
}

.navbar-div, footer {
    background-color: #188181;
    opacity: 0.8;
    margin-top: 10px;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 255, 255, .9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .80);
}

.newsletter-alert {
    border: 3px solid #f06814;
    border-radius: 25px;
}

.newsletter-phrase {
    padding: 1.5px;
    font-weight: 800;
    font-size: 2.2rem;
    margin: 5px;
    font-style: oblique;
}

.orange {
    color: #f06814;
}

/* Footer */
footer {
    margin-top: auto;
}

.social-icons {
    font-size: 1.3rem;
}

.fab {
    font-weight: 400;
    color: white;
    font-size: 1.6rem;
}

.flex-grow-1 {
    flex: 1;
}

.footer {
    background-color: #188181;
    opacity: 0.8;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* index.html */
.card {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border: 3px solid #188181;
    border-radius: 25px;
    overflow: hidden;
}

.card .image-container {
    flex: 1;
}

.card .row {
    display: flex;
    flex-wrap: nowrap;
}

.card-body {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.image-container img {
    width: 100%;
    height: auto;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 1rem;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.image-flash {
    position: absolute;
    bottom: 10%;
    min-width: 30%;
    right: 30px;
    background-color: #188181;
}

.author {
    color: white;
    margin: 4px;
    text-transform: capitalize;
    font-weight: 600;
}

.bio {
    max-width: 100%;
    height: auto;
}

.post-link {
    text-decoration: none;
    color: #222;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.card-title {
    font-family: 'Poppins', sans-serif;
    margin-bottom: .5rem;
    margin-top: 1rem;
}

.card-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
}

/* Media Query for screens smaller than 768px */
@media (max-width: 768px) {
    .card {
        flex-direction: column;
    }

    .image-container {
        order: 1;
        width: 100%;
    }

    .card-body {
        order: 2;
        padding: 1rem;
    }
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* subscribe */
img.img-width {
    max-width: 100%;
    height: auto;
}

.newsletter-content {
    border: 3px solid #188181;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.title {
    padding: 10px 7px;
}

.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
    text-decoration: none;
    color: #fff;
    margin: 3px;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 2px;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, white .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;   
}

a:hover {
    color: #fff;
}

input {
    width: 30%;
    border-radius: 10px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
    padding: 10px;
}

.img-fluid img.img-width {
    width: 100%;
    height: auto;
}

.email-list {
    font-size: 1.3rem;
    font-weight: 500;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #f9f9f9;
}
  
.email-list a {
    text-decoration: none;
}
  
.email-list .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
  
.email-list .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}
  
.email-list .btn-primary:hover,
.email-list .btn-danger:hover {
    opacity: 0.9;
}
  
.email-list ul {
    padding: 0;
}
  
.email-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
  
.email-list li:last-child {
    border-bottom: none;
}
  
.email-list span {
    flex-grow: 1;
}
  
.email-list .btn-sm {
    font-size: 0.875rem;
}
  
.email-list .mx-1 {
    margin-left: 5px;
    margin-right: 5px;
}
  
.text-center {
    text-align: center;
}
  
.orange {
    color: #f39c12;
}

.text-end {
    text-align: right;
}

.content {
    overflow-wrap: break-word;
}

.resource-link {
    color: #007bff;
}

.resource-link:hover {
    color: #00ccff;
}

input#id_email {
    width: 80%;
}