{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container mt-5">
  <!-- Content One box-->
  <div class="row mb-5">
    <div class="col-4 text-center">
      <img src="{% static 'images/travel-suitcases.jpeg' %}" class="img-width"
        alt="image of travel with suitcases"/>
    </div>
    <div class="col-8">
      <h2>{{ resources.title }}</h2>
      {{ resources.content_one | safe }}
    </div>
  </div>
  
  <!-- Content Two box -->
  <div class="row mb-5">
    <div class="col-8">
      {{ resources.content_two | safe }}
    </div>
    <div class="col-4 text-center">
      <img src="{% static 'images/pexels-riverboat.jpg' %}" class="img-width"
        alt="image of travel on riverboat"/>
    </div>
  </div>

  <!-- Content Three box -->
  <div class="row mb-5">
    <div class="col-4 text-center">
      <img src="{% static 'images/pexels-suitcase.jpg' %}" class="img-width"
       alt="image of a person and suitcase"/>
    </div>
    <div class="col-8">
      {{ resources.content_three | safe }}
    </div>
  </div>

  <div class="row">
    <div class="col text-right">
      <p class="text-end"><em>Updated on: {{ resources.updated_on }}</em></p>
    </div>
  </div>
</div>
{% endblock content %}
